<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="#{navigation}"></p>
<a href="?lang=nl">nl</a> <a href="?lang=en">en</a>
<br>
<a th:text="#{taskoverview}" href="/tasks"></a>
<a th:text="#{createtask}" href="/tasks/new"></a>
<br>
<br>
<h1 th:text="#{createtask}"></h1>
<form method="post" action="/tasks/createTask">
    <p th:text="#{newtask}"></p>
    <label for="title" th:text="#{titleform}"> </label>
    <input type="text" name="title" id="title" ><br>
    <!--<p th:errors="*{description}"></p>-->
    <label for="description" th:text="#{descriptionform}"></label>
    <input type="text" name="description" id="description"><br>
    <label for="dueDate" th:text="#{duedateform}"> </label>
    <input type="datetime-local" name="dueDate" id="dueDate"><br>
    <input type="submit" th:value="#{submitform}">
</form>
</body>
</html>
